<!-- <footer id="layout-footer">
   

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/user/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <p>
            &#169; AMITOZ SINGH. All Rights Reserved
        </p>
    </div>
</footer> -->